
{% extends 'base.html' %}

{% block content %}

{% load static %} 
<!--breadcumb start here-->
<div class="section breadcumb-area background-image"  data-src="assets/images/inner-banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <ul>
                    <li>Camsoft</li>
                    <li><a href="index.html"> Home </a>/ About </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--breadcumb end here--><!-- about start section -->
<div class="about-area">
    <div class="container">

                <div class="about-content">

                    <h2 class="title-bar">About Us</h2>

                    <p>Camsoft was setup to help firms that don’t have internal resources make informed IT decisions and to help them deliver their visions. </p>

                    <p>Setup in 2008 in Galway, Camsoft initially serviced the Legal industry in helping to streamline business processes embracing distributed technologies before the rise of the cloud. As our reputation grew there were further approaches from other sectors to help develop IT strategy and look at how technology could push their business forward. </p>

                    <p>We have worked on projects for large multinationals as well as small start ups. The common factor across all industries and projects is that we will make sure that our clients get the best of quality in a timely manner.</p>

                </div>                

    </div>
</div><!--about end section -->
<!-- activities start section -->
<div class="section activities-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="single-activities">
                    <div class="icons">
                        <i class="icon icon-Files"></i>
                    </div>
                    <div class="content">
                        <h3>Reports requirements</h3>
                        <p>We have helped a number of organisations in gathering and implementing reports requirements.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-activities">
                    <div class="icons">
                        <i class="icon icon-Restart"></i>
                    </div>
                    <div class="content">
                        <h3>Full life cycle</h3>
                        <p>We offer the full range of services from product inception through to testing and release.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-activities">
                    <div class="icons">
                        <i class="icon icon-ChartUp"></i>
                    </div>
                    <div class="content">
                        <h3>Integration</h3>
                        <p>We can help you bridge the gaps between distributed systems. Using our knowledge of distributed software systems and the Internet of things we can save you valuable time.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div><!--activities end section -->

{% endblock content %}
