
{% extends 'base.html' %}

{% block content %}

{% load static %} 
<!--breadcumb start here-->
<div class="section breadcumb-area background-image"  data-src="assets/images/inner-banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <ul>
                    <li>Camsoft</li>
                    <li><a href="index.html"> Home </a>/ Artificial Intelligence </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--breadcumb end here--><!-- about start section -->
<div class="about-area">
    <div class="container">

                <div class="about-content">

                    <h2 class="title-bar">Artificial Intelligence</h2>

                    <p>Imagine being able to get your customers to the information they are looking for 24/7 without having to have expensive call centres.</p>

                    <p>This is all possible now with the use of Artificial Intelligence (AI). By using AI as a compliment to their help centres, clients have been able to gather information about their customer needs before having to engage with human agents. Please take a look at the example chat bot on this site for an idea of what we can do for you.</p>

                    <p>Train your AI to understand specific domain knowledge. We have helped clients in the legal sector to build AI models to help their customers make informed decisions on areas such as Will and Probate. Please get in contact to see how we can help your embrace AI in your company.</p>

                </div>                

    </div>
</div><!--about end section -->
<!-- activities start section -->
<div class="section activities-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="single-activities">
                    <div class="icons">
                        <i class="icon icon-Files"></i>
                    </div>
                    <div class="content">
                        <h3>Reports requirements</h3>
                        <p>We have helped a number of organisations in gathering and implementing reports requirements.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-activities">
                    <div class="icons">
                        <i class="icon icon-Restart"></i>
                    </div>
                    <div class="content">
                        <h3>Full life cycle</h3>
                        <p>We offer the full range of services from product inception through to testing and release.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-activities">
                    <div class="icons">
                        <i class="icon icon-ChartUp"></i>
                    </div>
                    <div class="content">
                        <h3>Integration</h3>
                        <p>We can help you bridge the gaps between distributed systems. Using our knowledge of distributed software systems and the Internet of things we can save you valuable time.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div><!--activities end section -->

{% endblock content %}
