
{% extends 'base.html' %}

{% block content %}

{% load static %} 
<!-- header area end here -->
<!-- slider area start here -->
<div class="slider-area">
    <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides"> 
            <img src="{% static 'pages/images/slider/1.jpg' %}" class="slide-image" alt="" title="#slider-direction-1"  />
            <img src="{% static 'pages/images/slider/2.jpg' %}" alt="" title="#slider-direction-2"  />
            <!-- <img src="assets/images/slider/3.jpg" alt="" title="#slider-direction-3"  /> -->
        </div>
        <!-- direction 1 -->
        <div id="slider-direction-1" class="t-cn slider-direction">
            <div class="slider-progress"></div>
            <div class="slider-content t-lfl s-tb slider-1">
                <div class="title-container s-tb-c">
                    <h1><span>Camsoft</span> deliver high quality bespoke software solutions to a number of industries.</h1>
                                      
                    <div class="slider-button">
                        <ul>
                            <li><a href="/about.html">View Our Work</a></li>
                        </ul>
                    </div>
                </div>
            </div>  
        </div>
        <!-- direction 2 -->
        <div id="slider-direction-2" class="t-cn slider-direction">
            <div class="slider-progress"></div>
            <div class="slider-content t-lfl s-tb slider-2">
                <div class="title-container s-tb-c">
                    <h1>Contact us today to see how <span>Camsoft</span> can help your business...</h1>
                    <div class="slider-button">
                        <ul>
                        <li><a href="/contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>  
        </div>
        <!-- direction 1 -->
        <!-- <div id="slider-direction-3" class="t-cn slider-direction">
            <div class="slider-progress"></div>
            <div class="slider-content t-lfl s-tb slider-3">
                <div class="title-container s-tb-c">
                    <h1>Creative <span>Premium</span> HTML</h1> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Verum hoc idem saepe faciamus. An me, inquis, tam amentem putas</p>                   
                    <div class="slider-button">
                        <ul>
                        <li><a href="#">Our Work</a></li>
                        <li><a href="#">Buy Now</a></li>
                        </ul>
                    </div>
                </div>
            </div>  
        </div> -->
    </div>
</div>
<!-- slider area end here -->
<!-- feature area start here -->
<div class="section feature-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="welcome-text">
                    <p>We understand the face paced nature of software development and aim to help our clients move with the times.</p>

                    <p>We develop cutting edge applications using the latest technologies and infrastructures. Using over 20 years of software engineering experience we have helped our clients react to their clients needs and deliver high quality products.</p>

                    <p>We have embraced the changes in technology and the rise of Artificial Intelligence to the betterment of society and can help your company to do the same.</p>
                </div>
               <div class="section-title">

                <h2>Software <span>Solutions</span></h2>
                <p>We have developed applications for a number of industries that:</p>
               </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="feature-slide">
                    <div class="single-slide">
                        <div class="icon">
                            <i class="icon icon-Dollars"></i>
                        </div>
                        <h3>Reduce labour costs</h3>
                        
                    </div>
                    <div class="single-slide">
                        <div class="icon">
                            <i class="icon icon-Restart"></i>
                        </div>
                        <h3>Automate tedious repetative tasks</h3>
                        
                    </div>
                    <div class="single-slide">
                        <div class="icon">
                            <i class="icon icon-OpenedLock"></i>
                        </div>
                        <h3>Allow customers mission critical data 24/7</h3>
                        
                    </div>
                    <div class="single-slide">
                        <div class="icon">
                            <i class="icon icon-FullScreen"></i>
                        </div>
                        <h3>Distribute data across sites allowing transparency to clients</h3>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  <!-- feature area end here -->
<!-- services area start here -->
<div class="section services-area background-image" data-src="{% static 'pages/images/services-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
               <div class="section-title">
                <h2>Our <span>Services</span></h2>
                <p>Camsoft offer a range of software services.</p>
               </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="services-list">
                    <ul>
                        <li>                            
                            <div class="single-services">
                                <div class="icon">
                                    <i class="icon icon-Search"></i>
                                </div>
                                <h3>Software requirements specifications</h3>
                                <p>Using our experience we have been able to implement software requirements to a number of industries including large multi nationals.</p>
                            </div>
                        </li>
                        <li>
                            <div class="single-services">
                                <div class="icon">
                                    <i class="icon icon-Starship"></i>
                                </div>
                                <h3>Software development</h3>
                                <p>We can help you build your applications from over 10 years of commercial and bespoke software development.</p>
                            </div>
                        </li>
                        <li>
                            <div class="single-services">
                                <div class="icon">
                                    <i class="icon icon-ChartUp"></i>
                                </div>
                                <h3>Reports requirements</h3>
                                <p>We have helped a number of organisations in gathering and implementing reports requirements.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>  <!-- services area end here -->
<!-- testimonial area start here -->
<div class="section testimonial-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
            <div class="section-title">
                <h2>Our Happy <span>Customers</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ita separantu dolor sit amet, consectetur</p>
            </div> 
            </div>
        </div>
        <div class="row row-normalize">
            <div class="col-sm-12">
                <div class="testimonial-slide">
                    <div class="single-testimonial">
                        <div class="image">
                            <img src="{% static 'pages/images/testimonial/1.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <h3>Cecil Looney</h3>
                            <span>Global Technology Manager</span>
                            <p>At Language Connect, we rely heavily on the expertise that the Camsoft team have brought to our organisation. Their input was crucial to the design, development and validation of our in-house solutions that operate 24x7 to ensure the team had the robust tool set needed to provide the services that our clients need in a time-sensitive environment. With the combination of customer focus, communication skills and technical know-how, Camsoft provided us with the services we needed. </p>                            
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="image">
                            <img src="{% static 'pages/images/testimonial/2.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <h3>David Jhon</h3>
                            <span>CEO at Teas Company</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo id est convenienter naturae vivere, a natura discedere. Ex ea difficultate illae fallaciloquae.</p>                            
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="image">
                            <img src="{% static 'pages/images/testimonial/3.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <h3>Faludi Chiki</h3>
                            <span>CEO at Leaf Company</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo id est convenienter naturae vivere, a natura discedere. Ex ea difficultate illae fallaciloquae.</p>                            
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="image">
                            <img src="{% static 'pages/images/testimonial/4.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <h3>Yami Leaf</h3>
                            <span>CEO at Leaf Company</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo id est convenienter naturae vivere, a natura discedere. Ex ea difficultate illae fallaciloquae.</p>                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div><!-- testimonial area end here -->
<!-- software-platforms area start here -->
<div class="section software-platforms">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="section-title">
                    <h2>Software <span>Platforms</span></h2>
                    <p>We have used our experience in Microsoft technologies to develop:</p>
                </div> 
            </div>
        </div>
        <div class="row row-normalize">
            <div class="col-md-6 col-sm-12">
                <div class="technologies-image">
                    <img src="{% static 'pages/images/technologies.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="whychoose-list">
                    <ul>
                        <li>
                            <div class="media">
                                <div class="pull-left">
                                    <div class="icons">
                                        <i class="icon icon-Signal"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Windows Communication Foundation services</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="pull-left">
                                    <div class="icons">
                                        <i class="icon icon-FileBox"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">ASP Forms and MVC applications</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="pull-left">
                                    <div class="icons">
                                        <i class="icon icon-DesktopMonitor"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Windows forms and XAML applications</h4>
                                  
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="pull-left">
                                    <div class="icons">
                                        <i class="icon icon-StorageBox"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Microsoft SQL Reporting and Integration services</h4>
                                  
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="pull-left">
                                    <div class="icons">
                                        <i class="icon icon-Restart"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Microsoft Office applications and automation</h4>
                                  
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- software-platforms area end here -->
{% endblock content %}
