
{% extends 'base.html' %}

{% block content %}

{% load static %} 
<!--breadcumb start here-->
<div class="section breadcumb-area background-image"  data-src="assets/images/inner-banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <ul>
                    <li>Camsoft</li>
                    <li><a href="index.html"> Home </a>/ Software development </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--breadcumb end here--><!-- about start section -->
<div class="about-area">
    <div class="container">

                <div class="about-content">

                    <h2 class="title-bar">Camsoft develop software in a range of software platforms.</h2>

                    <p>We have used our experience in Microsoft technologies to develop:</p>

                    <ul>
                        <li>Windows Communication Foundation services</li>
                        <li>ASP Forms and MVC applications</li>
                        <li>Windows forms and XAML applications</li>
                        <li>Microsoft SQL Reporting and Integration services</li>
                        <li>Microsoft Office applications and automation</li>
                    </ul>

                    <p>Additional to the above technologies we have also developed using the below technologies:</p>

                    <ul>
                        <li>Android mobile applications</li>
                        <li>Visualfiles case management</li>
                        <li>Proclaim case management</li>
                    </ul>

                    <h3>Contact us today to see how <span>Camsoft</span> can help your business...</h3>

                    
                </div>                

    </div>
</div><!--about end section -->
<!-- activities start section -->
<div class="section activities-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="single-activities">
                    <div class="icons">
                        <i class="icon icon-Files"></i>
                    </div>
                    <div class="content">
                        <h3>Reports requirements</h3>
                        <p>We have helped a number of organisations in gathering and implementing reports requirements.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-activities">
                    <div class="icons">
                        <i class="icon icon-Restart"></i>
                    </div>
                    <div class="content">
                        <h3>Full life cycle</h3>
                        <p>We offer the full range of services from product inception through to testing and release.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-activities">
                    <div class="icons">
                        <i class="icon icon-ChartUp"></i>
                    </div>
                    <div class="content">
                        <h3>Integration</h3>
                        <p>We can help you bridge the gaps between distributed systems. Using our knowledge of distributed software systems and the Internet of things we can save you valuable time.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div><!--activities end section -->

{% endblock content %}
