<!DOCTYPE html>
<html class="no-js" lang="en">
    
<head>
        <meta charset="utf-8">
        <meta name="description" content="desc">
        <meta name="author" content="RadonTheme">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Title -->
        <title>Camsoft - Terms & Conditions</title>
        <!-- Favicon and Touch Icons -->
        <link rel="shortcut icon" href="assets/images/favicon.png">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        <link href="assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="assets/css/elegant-icons.css" rel="stylesheet">
        <link href="assets/css/stroke-gap-icons.css" rel="stylesheet">
        <!-- Plugin CSS -->
        <link href="assets/css/bootstrap.css" rel="stylesheet">
        <link href="assets/css/animate.css" rel="stylesheet" >        
        <link href="assets/css/owl.carousel.css" rel="stylesheet" >        
        <link href="assets/css/owl.theme.css" rel="stylesheet" >        
        <link href="assets/css/owl.transitions.css" rel="stylesheet" >        
        <link href="assets/custom-slider/css/nivo-slider.css" rel="stylesheet" >
        <link href="assets/css/lightbox.min.css" rel="stylesheet" >
        <link href="assets/css/nice-select.css" rel="stylesheet" >
        <!-- Stylesheets -->
        <link href="assets/css/camsoft-main.css" rel="stylesheet" media="screen">
        <link href="assets/css/camsoft-responsive.css" rel="stylesheet" media="screen">
        <script src="assets/js/modernizr-2.8.3.min.js"></script>
       
    </head>
<body>
<!-- header area start here -->
<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-left">
                <div class="header-top-left">
                    <div class="social-media">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-right">
                <div class="header-top-right">
                    <ul>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i> contact@camsoft.ie</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>  00 353 851100902</li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
 <div class="header-area">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/logo.png" alt="Logo">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">                
                <ul class="nav navbar-nav navbar-right nav-side">  
                    <li ><a href="#"><span class="header-search icon icon-Search btn-search-form-toggle"></span></a></li>                    
                </ul> 
                <ul class="nav navbar-nav navbar-right">  
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="software-development.html">Software development</a></li>
                    <li><a href="artificial-intelligence.html">Artificial Intelligence</a></li>
                    <li><a href="contact.html">Contact</a></li>                           
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</div>
<!-- header area end here -->
<!--breadcumb start here-->
<div class="section breadcumb-area background-image"  data-src="assets/images/inner-banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <ul>
                    <li>Camsoft</li>
                    <li><a href="index.html"> Home </a>/ Terms & Conditions </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--breadcumb end here--><!-- about start section -->
<div class="about-area">
    <div class="container">

                <div class="about-content">

                    <h2 class="title-bar">Terms & Conditions</h2>

                    

                </div>                

    </div>
</div><!--about end section -->
<!-- activities start section -->
<div class="section activities-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="single-activities">
                    <div class="icons">
                        <i class="icon icon-Files"></i>
                    </div>
                    <div class="content">
                        <h3>Reports requirements</h3>
                        <p>We have helped a number of organisations in gathering and implementing reports requirements.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-activities">
                    <div class="icons">
                        <i class="icon icon-Restart"></i>
                    </div>
                    <div class="content">
                        <h3>Full life cycle</h3>
                        <p>We offer the full range of services from product inception through to testing and release.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-activities">
                    <div class="icons">
                        <i class="icon icon-ChartUp"></i>
                    </div>
                    <div class="content">
                        <h3>Integration</h3>
                        <p>We can help you bridge the gaps between distributed systems. Using our knowledge of distributed software systems and the Internet of things we can save you valuable time.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div><!--activities end section -->

    <!-- footer start here -->
        <div class="section footer-top-area background-image" data-src="assets/images/footer.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="widget about-us">
                            <a href="index.html"><img src="assets/images/footer-logo.png" alt=""></a>
                            <ul class="footer-links">
                                <li><a href="terms.html">TERMS &amp; CONDITIONS</a></li> 
                                <li><a href="privacy.html">PRIVACY POLICY</a></li> 
                                <li><a href="sitemap.html">SITE MAP</a></li>
                            </ul>
                            <div class="social-media">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="widget contact-us">
                            <h3 class="widget-title">Contact Us</h3>
                            <ul>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> <span>Phone :</span> 00 353 851100902 </li>
                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email :</span> <a href="mailto:contact@camsoft.ie">contact@camsoft.ie</a> </li>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <span>Monday - Friday :</span>9:00 am - 10:00 pm <br/>
                                <span>Saturday - Sunday :</span>Closed</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="widget subscribe-now">
                            <h3 class="widget-title">Subscribe Now</h3>
                            <div class="form">
                                <form>
                                    <div class="row">                     
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" placeholder="Name">
                                        </div>          
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" placeholder="Email">
                                        </div>   
                                        <div class="col-sm-4">
                                            <a href="#" class="btn btn-default send">subscribe</a>
                                        </div> 
                                    </div>               
                                </form>
                            </div>           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">                
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="copyright">
                            <p>© CAMSOFT ltd 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer end here -->
        <div id="popup-search-box-area" >
            <a href="#" class="close-button btn-search-form-toggle">
                <span class="icon_close"></span>
            </a>
            <div class="container-fluid">
                <form id="search-form">
                    <div class="form-group">
                        <input type="text" class="form-control search-box" placeholder="Search Your Keyword Here..">
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        <!-- JavaScript -->
        <!-- jQuery Library -->
        <script src="assets/js/jquery-1.12.0.min.js"></script>
        <!-- jQuery Plugins -->
        <script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/wow.min.js"></script>
		<script src="assets/custom-slider/js/jquery.nivo.slider.js"></script>
		<script src="assets/custom-slider/home.js"></script>
        <script src="assets/js/scrollup.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/lightbox.min.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/jquery.knob.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.matchHeight.js"></script>
        <script src="assets/js/jquery.nice-select.min.js"></script>
        <script src="assets/js/masonry.pkgd.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcvAXp35fi4q7HXm7vcG9JMtzQbMzjRe8"></script>  
        <script src="assets/js/gmaps.js"></script>      
        <!-- Custom Script -->
        <script src="assets/js/custom-script.js"></script>        
    </body>

</html>